@import "./var.css";

.brand-section {
  padding: 80px 0 80px;
  min-height: 50vh;
  background: #ffffff;
}
.brand-title {
  text-align: center;
}
.brand-title h1 {
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--bg-black-900);
  border-bottom: 3px solid var(--yellow);
  display: inline-block;
  font-size: 2.2rem;
  padding-bottom: 10px;
  opacity: .8;
}

.brand-container {
  background: #ffffff;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand-content {
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 15px 0;
}

.brand-image {
  border: 3px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  opacity: .7;
}

.brand-image:hover {
  opacity: 1;
  border-color: var(--yellow);
  transition: all .3s ease-out;
}
.brand-image:hover .br-logo {
  filter: none;
  transition: all .3s ease-out;
}

.br-logo {
  width: 160px;
  height: 160px;
  filter: grayscale(100%);
  object-fit: cover;
  transition: all .3s ease-in;
}

@media screen and (max-width: 1024px) {
  .brand-content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .brand-image {
    margin-bottom: 10px;
  }
}