@import "./var.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cart-table-content table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.cart-table-content th, 
.cart-table-content td {
  text-align: left;
  padding: 8px;
}

.cart-table-content th {
  color: var(--yellow);
  font-weight: 600;
  font-family: monospace;
  font-size: 1rem;
}
.cart-table-content td {
  color: #464646;
  font-weight: 600;
  opacity: .89;
}

.cart-table-content tr:first-child{background-color: #ffffff}
.cart-table-content tr{background-color: #f2f2f2}


.cartproduct-section {
  max-width: 90%;
  min-height: 100vh;
  margin: 4rem auto;
}

.cartpr-title {
  padding-bottom: 40px;
  text-align: center;
}
.cartpr-title h1 {
  font-size: 2rem;
  font-weight: 900;
  font-family: -webkit-pictograph;
  color: #464646;
  border-bottom: 2px solid var(--yellow);
  display: inline;
}

.cart-pr-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.cart-product-conetnt {
  width: 68%;
}

.cart-table-content {
  overflow-x: auto;
  /* width: 100%; */
}

.cart-product-check {
  width: 30%;
}

.cart-pr-input {
  outline: none;
  border: none;
  padding: 10px 15px;
  font-weight: 600;
}

.cart-check-box {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.cart-check-title {
  text-align: center;
  padding-bottom: 20px;
}

.cart-check-title p {
  font-size: 1.3rem;
  color: var(--yellow);
  font-weight: 900;
  font-family: monospace;
}

.cart-check-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.cart-check-price p {
  color: #444444;
  font-weight: 900;
  font-size: 1.1rem;
  font-family: monospace;
}

.cart-check-button button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0px;
  border-radius: 10px;
  background: var(--yellow);
  color: var(--light-100);
}
.cart-check-button button:hover {
  background: var(--bg-black-900);
}

@media screen and (max-width: 748px) {
  .cart-pr-container {
    flex-direction: column;
  }

  .cart-product-check,
  .cart-product-conetnt {
    width: 100%;
    margin-bottom: 30px;
  }
}