@import "./var.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section{
  padding: 4rem 0 2rem;
  overflow: hidden;
}
.pr-subtitle {
  text-align: center;
  padding: 30px 0;
}
.pr-subtitle h1 {
  font-size: 2rem;
  display: inline-block;
  padding-bottom: 10px;
  color: var(--bg-black-900);
  font-weight: 900;
  border-bottom: 3px solid var(--yellow);
}

.products {
  max-width: 71%;
  margin: 0 auto;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none; */
  position: relative;
  /* border: 1px solid transparent; */
}
.product {
  max-width: 255px;
  /* box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.4);
  margin: 0 5px;
  min-height: 472px !important;
  /* transform: translateX(calc(-100% - 15px)); */
}
.product-image {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid transparent;
}
.pr-image {
  width: 100%;
  height: 100%;
}

/* .image-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
} */

.product-content {
  padding: 10px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  min-height: 302px !important;
}

.pr-price {
  color: var(--yellow);
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 11px;
  opacity: .7;
}

.pr-des {
  margin-top: 10px;
  font-weight: 500;
  opacity: .7;
}

.pr-offer {
  color: #c60000;
  font-weight: 300;
  opacity: .6;
  margin-top: 5px;  
  margin-bottom: 19px;  
}
.pr-offer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.pr-offer-row svg {
  fill: var(--bg-black-900);
}

.pr-btn {
  border: none;
  outline: none;
  padding: 12px 15px;
  border-radius: 6px;
  background: var(--yellow);
  color: #fff;
  font-size: .9rem;
  font-weight: 900;
  cursor: pointer;
}

.pr-btn:hover {
  background: var(--bg-black-900);
}

.pr-fav {
  border: none;
  outline: none;
  padding: 0;
  border-radius: 6px;
  background: none;
  color: red;
  font-size: .9rem;
  font-weight: lighter;
  margin-top: 10px;
  opacity: .6;
  cursor: pointer;
}

.pr-footer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.pr-category {
  text-decoration: none;
  margin-top: 9px;
  color: var(--bg-black-900);
  font-weight: 900;
  opacity: .8;
  font-size: .9rem;
}

.owl-next,
.owl-prev {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
button.owl-next,
button.owl-prev {
  color: var(--yellow) !important;
  font-size: 2.4rem !important;
}
.owl-next:hover,
.owl-prev:hover {
  opacity: .8;
}
.owl-next {
  right: -60px;
}
.owl-prev {
  left: -20px;
}

.owl-dots {
  text-align: center;
  margin-top: 15px;
}
.owl-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
  border: 2px solid var(--yellow) !important;
  transition: all .3s ease;
}

.owl-dot:hover,
.owl-dot.active {
  background: var(--yellow) !important;
}

@media screen and (max-width: 748px) {
  .products {
    max-width: 60%;
  }
}