@import "./var.css";

// Live Eidtor
/*
  small screen show
    all-inputs {
      flex-direction: column;
    }

    message-area {
      padding-left: 0;
    }

    button-v {
      bottom: -59px or -6 0px
    }
*/



.container {
  .form-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-form-v {
      flex-direction: column;
      width: 80%;
    
      .subtitle {
        border-bottom: 1px solid var(--yellow);         
        h1 {
          color: var(--yellow);
          font-family: 'Ephesis', cursive;
          font-weight: bold;
        } 
      }
      .form-input-group-v {
        width: 100%;
        // padding-top: 10px;
        position: relative;
        width: 80%;
        padding-top: 20px;
        height: 100%;
    
        .all-inputs {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
    
          .col-md-6 {
            .input-v {
              padding: 10px 0;
              position: relative;
              .input-value-v {
                width: 100%;
                background: #e6e6e6;
                padding: 10px 15px;
                border: none;
                border-radius: 10px;
                outline: none;
      
                &.input-error-v {
                  border: 1px solid red;
                  &::placeholder {
                    color: red;
                  }
                }
              }
              .error {
                color: red;
              }
            }
    
            &.message-area {
              padding-left: 30px;
              height: 100%;
              padding-top: 8px;

              .message-area-input {
                width: 100%;
                height: 274px;
                border: medium none;
                background: rgb(230, 230, 230) none repeat scroll 0% 0%;
                border-radius: 10px;
                padding: 17px;
                outline: currentcolor none medium;
                resize: none;
              }
            }
          }
        }
        
        .button-v {
          width: 20%;
          position: absolute;
          bottom: 0;
          left: 0;
    
          button {
            background: var(--yellow);
            width: 100%;
            color: var(--light-100);

            &:hover {
              transition: all .5s ease-in-out;
              opacity: .9;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 4rem;
    .form-row {
      .container-form-v {
        .form-input-group-v {
          .all-inputs {
            flex-direction: column;
            .col-md-6 {
              width: 100%;
              .input-v {
                width: 100%;
              }
            }

            .message-area {
              padding-left: 0 !important;
              width: 100%;
            }
          }

          .button-v {
            bottom: -60px;
            width: 50%;
          }
        }     
      } 
    }
  }
}