@import "./var.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section{
  padding: 4rem 0 2rem;
}
.dep-subtitle {
  text-align: center;
  padding: 25px 0;
}
.dep-subtitle h1 {
  font-size: 2rem;
  display: inline-block;
  padding-bottom: 10px;
  color: var(--bg-black-900);
  font-weight: 900;
  border-bottom: 3px solid var(--yellow);
}
.departments {
  width: 78%;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dep-content {
  background: var(--bg-black-100);
  opacity: .9;
  border: 1px solid var(--bg-black-900);
  width: 500px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 15px;
  /* box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
}
.dep-text {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  height: 100%;
}
.dep-heading {
  margin-bottom: -2px;
  color: #373736;
  font-weight: 900;
  font-size: 2.9rem;
}
.dep-second {
  margin-bottom: 10px;
  color: var(--yellow);
  font-weight: 300;
  font-size: 2.6rem;
  display: block;
  letter-spacing: 1px;
}
.dep-product {
  font-weight: 400;
}
.dep-btn {
  padding: 15px 25px;
  border: none;
  outline: none;
  background: var(--yellow);
  color: #f9f1f1;
  font-weight: bold;
  margin-top: 31px;
  border-radius: 5px;
}
.dep-btn:hover {
  opacity: .8;
}
.dep-img {
  position: relative;
  width: 60%;
  height: 100%;
  background-size: cover;
  clip-path: polygon(58% 0, 100% 0, 100% 100%, 0% 100%);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.image-banner {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.3);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.image-content {
  width: 100%;
  height: 100%;
  transition: all .3s ease-out;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dep-content:hover .image-content {
  width: 120%;
  height: 120%;
  transition: all .3s ease-in;
}

@media screen and (max-width: 768px) {
  .dep-heading {
    font-size: 2.3rem;
  }
  .dep-btn {
    padding: 10px;
    margin-top: 40px;
  }
}