@import "./var.css";

.height-100 {
  height: 100vh;
}
footer {
  background: #3a3a3a;
  color: #fff;
  font-size: 14px;
}
footer .footer-top {
  background: #4e4e4e;
  padding: 50px 0px 20px;
}
.address h3 {
  letter-spacing: 1px;
}
footer .address p {
  font-size: 16px;
  color: #ddd;
  font-style: italic;
}
footer .address p strong {
  color: var(--yellow);
}
footer .social-links a {
  font-size: 17px;
  display: inline-block;
  background: #28251f;
  color: #fff;
  line-height: 1;
  padding: 9px 0;
  margin-right: 5px;
  border-radius: 100%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.4s;
}
footer .social-links a:hover {
  background: var(--yellow);
}
footer h4 {
  font-size: 18px;
  color: var(--yellow);
  padding-bottom: 12px;
}
footer .footer-menus {
  margin-bottom: 30px;
}
footer .footer-menus ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-menus ul li {
  margin-bottom: 10px;
}
footer .footer-menus ul i {
  color: #ffffff;
  font-size: 12px;
  margin-right: 3px;
}
footer .footer-menus ul a {
  color: #fff;
  text-decoration: none;
}
footer .footer-menus ul a:hover {
  color: var(--yellow);
}
footer .newsletter form {
  margin-top: 30px;
  background: #3a3a3a;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #3a3a3a;
}
footer .newsletter form input[type="email"] {
  border: 0;
  padding: 5px;
  background: #3a3a3a;
  color: #fff;
}
footer .newsletter form input[type="email"]:focus {
  outline: none;
}
footer .newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  background: var(--yellow);
  color: #000;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
footer .newsletter form input[type="submit"]:hover {
  background: var(--light-100);
}
.footer-bottom {
  padding: 20px 0px;
}
footer .footer-bottom a {
  color: var(--yellow);
  text-decoration: none;
}

.rtl {
  direction: rtl;
}

.title-rtl {
  float: right;
  padding-left: 5px;
}

@media screen and (max-width: 768px) {
  .footer-contact {
    padding-bottom: 20px;
  }
}