@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import "./var.css";


/*
	full final update

	header
		padding: 3px 15px;
		background: var(--light-100);
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.3);

	container
		margin-bottom: 0

	-- all icons bx not bxs
	-- all title (a) and icon in header is yellow color
	-- product-count -> span -> bg-black-900

	logo
		black - logo.png
*/


body{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
body.hidden-scrolling{
	overflow-y: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
.container{
	max-width: 1270px;
	margin:auto;
	margin-bottom: 0 !important;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
.small-screen{
	display: none !important;
}
/*header*/
.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 15px;
	transition: all .3s ease-out;
}

/* when scroll page */
.header-scroll {
	position: fixed;
	padding: 3px 15px;
	background: var(--light-100);
  /* background-color: #d9d9d9; */
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.18);
	transition: all .3s ease;
}
.title-scroll {
	color: var(--bg-black-900) !important;
	opacity: .8;
}

.header-main{
	/* background-color: #ffffff; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
	width: 100%;
}
.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: var(--yellow);
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.side-tools {
	width: 45%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.side-tools-small-screen {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.side-tools .menu-item-has-children {
	position: relative;
}
.side-tools-small-screen .menu-item-has-children {
	position: relative;
}
.side-tools .menu-item-has-children .sub-menu{
	top: 120%;
	left: -335%;
}
.side-tools-small-screen .menu-item-has-children .sub-menu{
	top: 120%;
	left: -335%;
}
.header > .container > .side-tools > .menu-item-has-children > .cart-button > i {
	color: var(--light-100);
}
.cart-button {
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	border-radius: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 3px solid var(--light-100) !important; */
}
.cart-button:hover {
	border-color: var(--yellow) !important;
}
.sub-cart-button {
	position: relative;
}
.sub-cart-button .product-count {
	position: absolute;
	top: 0px;
	right: -1px;
	color: #ffbf00;
	font-weight: 900;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart-button i {
	color: white;
	font-size: 1.7rem;
	padding-right: 3px;
}
.cart-button:hover > i {
	color: var(--yellow);
}
.cart-button i.bxs-detail,
.cart-button i.bxs-user { 
	padding-left: 2px; 
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 17px;
	color: white;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.icon-child {
	font-size: 12px;
	padding-left: 5px;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: white;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: var(--yellow);
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: var(--yellow);
}
.sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: var(--light-100);
	padding: 10px 0;
	border-top: 3px solid var(--yellow);
	border-radius: 15px;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
.child-small-screen:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
@media(min-width: 992px){
 .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.menu-item{
	display: block;
}
.menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	margin-left: 8px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: white;
	position: relative;
	border-radius: 10px;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: white;
	box-sizing: border-box;
	border-radius: 10px;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
  width: 40px;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu i{
	font-size: 2rem;
	color: var(--yellow);
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/* responsive */

@media(max-width: 991px){
	.side-tools {
		display: none;
	}
	.small-screen {
		display: flex !important;
		flex-direction: column;
	}
	.header-main {
		justify-content: space-between;
	}
	.header .menu-overlay.active{
		visibility: visible;
		opacity: 1;
	}
	.header .nav-menu{
		position: fixed;
		right: -100%;
		visibility: hidden;
		width: 60%;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: var(--light-100);
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: var(--bg-black-900);
		padding: 12px 27px;
		letter-spacing: 1px;
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: var(--bg-black-900);
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
		border-radius: 0px;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: var(--bg-black-900);
		border-left: 5px solid var(--yellow);
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}

