* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page404-section {
  max-width: 1145px;
  margin: 0rem auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page404-container {
  display: flex;
  justify-content: center;
  min-width: 50%;
  align-items: center;
  border: 2px solid #3d3d3d;
  margin: 0 auto;
  border-radius: 10px;
  background: #f0f0f0;
  padding: 5px 10px;
}

.page404-title {
  padding: 0px 25px;
  font-size: 2.5rem;
  font-family: monospace;
  color: #313131;
}

@media screen and (max-width: 648px) {
  .page404-title {
    padding: 0px 15px;
    font-size: 1.2rem;
  }

  .page404-image {
    width: 60px;
    height: 60px;
  }
}