@import "./var.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.products-support {
  border: 1px solid var(--text-black-300);
  border-radius: 10px;
}

.products-support-row {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.products-support-cart {
  width: 100%;
}

.pr-support-price {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pr-support-price p {
  font-size: 1.9rem;
  font-weight: 900;
  color: var(--bg-black-900);
  opacity: 0.89;
  margin-bottom: 0;
}

.pr-support-price span,
.product-category-type {
  background: #a7df88;
  padding: 12px;
  border-radius: 10px;
  color: #61a679;
  /* box-shadow: inset 0px 0px 20px 7px rgba(0,0,0,0.2); */
  font-weight: 900;
}

.product-category-type {
  margin-top: 10px;
  padding: 10px 12px;
  background: var(--bg-black-900);
  color: var(--light-100);
}

.pr-support-btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  flex-direction: column;
}

.pr-support-btn-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pr-support-btn-count {
  width: 22%;
  border-radius: 10px;
  border: none;
  background: var(--bg-black-100);
  padding: 14px 10px;
  outline: none;
  color: var(--bg-black-900);
  font-size: 1rem;
}

.pr-support-btn {
  padding: 14px 26px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: var(--yellow);
  color: var(--light-100);
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  width: 74%;
  transition: all .3s ease-out;
}
.pr-support-btn:hover {
  background: var(--bg-black-900);
  transition: all .3s ease;
}

.pr-support-media {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pr-support-media-icon {
  padding: 10px 10px 6px 10px;
  background: var(--bg-black-900);
  text-align: center;
  border-radius: 5px;
  color: var(--bg-black-100);
  font-size: 1.3rem;
}

.pr-support-media-icon:hover {
  opacity: 0.8;
}

.product-support-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.support-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0px;
}

.sp-item-icon {
  padding: 0px 20px;
}

.sp-item-icon svg {
  fill: var(--yellow);
  width: 55px;
  height: 55px;
}

.sp-item-content p {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--bg-black-900);
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.sp-item-content span {
  color: var(--bg-black-900);
  font-size: 1.1rem;
  opacity: 0.9;
}

/* section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    flex-direction: column;
  } */

.products-info {
  border-radius: 12px;
  background: #eee;
  padding: 20px 40px;
}

.product-info-content {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.product-info-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--bg-black-100);
}

.pr-info-object,
.pr-info-detail {
  width: 50%;
}
.pr-info-object p {
  font-weight: 900;
  color: var(--bg-black-900);
  letter-spacing: 1px;
  font-size: 1.01rem;
  margin-bottom: 0;
}
.pr-info-detail p {
  color: var(--bg-black-900);
  letter-spacing: 1px;
  font-size: 1.01rem;
  margin-bottom: 0;
}

.convert-lang {
  position: absolute;
  top: 20px;
  left: 20px;
}

.rtl {
  direction: rtl;
}
