@import "./var.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.products-info-section {
  width: 90%;
  margin: 5rem auto 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/*
  max-width: 1024px
  
  .div-1-1
    flex-direcation column
  
  .div-1-1-1 {
    width: 100%;
    margin-bottom: 15px;
  }

  .div-1-1-2 {
    width: 100%;
  }

*/

.div-1 {
  width: 70%;
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  border-radius: 15px;
}

.div-1-1 {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 2px solid var(--text-black-300);
  border-radius: 15px;
  padding: 20px;
}
.div-1-1-1 {
  width: 55%;
}
.div-1-1-2 {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}
.div-1-content h1 {
  color: var(--yellow);
  border-bottom: 3px solid #ffc961;
  margin-bottom: 1rem;
  font-size: 2.6rem;
}

.div-1-content p {
  color: #373737;
  font-size: 1.17rem;
  font-weight: lighter;
  margin-bottom: 15px;
  opacity: .9;
}

.div-1-2 {
  width: 100%;
  border: 2px solid var(--text-black-300);
  border-radius: 15px;
  padding: 20px;
}

.div-1-2-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  flex-direction: column;

}

.div-1-2-tab {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.div-1-2-tab-item:nth-child(1) {
  margin: 0px 20px;
}

.div-1-2-tab-item button {
  border: none;
  outline: none;
  background: none;
  color: var(--bg-black-900);
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: 1px;
  transition: all .4s ease-out;
}

.tab-button-active button {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
  transition: all .4s ease;
}

.div-1-2-tab-content {
  margin-top: 25px;
  width: 100%;
  display: none;
  animation: tab .4s linear;
}

.div-tab-content-active {
  display: block;
  animation: tab .4s linear;
}

#featured{
  width: 100%;
  height: 350px;
	object-fit: cover;
	cursor: pointer;
  margin-bottom: 15px;
  border-radius: 15px;
}

.thumbnail{
	object-fit: cover;
	max-width: 120px;
	max-height: 120px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
  border-radius: 15px;
}

.thumbnail:hover{
	opacity:1;
}

.active-image{
	opacity: 1;
}

#slide-wrapper{
	width: 100%;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
  scrollbar-width: none;
}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
}


@keyframes tab {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.div-2 {
  width: 28%;
  min-height: 100vh;
  /* background: lightsalmon; */
}
.div-1-image {
  height: 100%;
  width: 100%;
}
/* .div-1-image img {
  width: 100%;
  height: 350px;
  border-radius: 15px;
} */



@media screen and (max-width: 1024px) {
  section {
    flex-direction: column; 
    justify-content: stretch;
  }
  .div-1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .div-2 {
    width: 100%;
  }
  .div-1-1 {
    flex-direction: column;
  }
  .div-1-1-1 {
    width: 100%;
    margin-bottom: 15px;
  }
  .div-1-1-2 {
    width: 100%;
  }
}